body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#container {
    height: 600px;
    width: 800px;
    position: relative;
}
#ui {
    position: absolute;
    top: 0;
    left: 0;
}
#healthbar {
    position: relative;
    top: 10px;
    left: 10px;
    background: url('assets/healthbar_bg.png') repeat;
}
#healthbarContent {
    background: url('assets/healthbar.png') repeat;
}
#healthbarText {
    position: absolute;
    top: 0;
    left: 0;

    color: #000000;
    font-weight: bold;
    text-align: center;

    padding-top: 2px;
}
#stats {
    position: absolute;
    top: 40px;
    left: 10px;
}